<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Item Details</h4>
                  <p class="card-description">
                    Update Item Details.!
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'cepload' cid=data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group row">
                      <label for="exampleSelectGender" class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="exampleSelectGender" name="cn">
                          {% for i in cat %}
                          <option>{{i.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Item Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" placeholder="item Name" name="in" value="{{data.iname}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Price</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="teacher" name="p" value="{{data.price}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Details</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="d">{{data.details}}</textarea>
                    </div>

                    <img src="{{data.image.url}}" width="100px" height="100px"> <br> <br>
                    <div class="form-group">
                      <label>Item Image</label>
                    <input type="file" name="img">
                    </div>

                    <img src="{{data.image1.url}}" width="100px" height="100px"> <br> <br>
                    <div class="form-group">
                      <label>Item Image</label>
                    <input type="file" name="img1">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <button class="btn btn-light" >Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'success' %}
      <script>
        swal('{{i}}','','success')
      </script>
    {% elif i.tags == 'warning' %}
      <script>
        swal('{{i}}','','warning')
      </script>
    {% elif i.tags == 'error' %}
      <script>
        swal('{{i}}','','error')
      </script>
    {% else %}
      <script>
        swal('{{i}}','','info')
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}